{% extends 'base.html' %}
{% block title %}Create User{% endblock %}

{% block content %}
<h1>Create New User</h1>
<form action="/users/new" method="POST">
    <div class="new-user-form">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" placeholder="Enter a first name">
    </div>
    <div class="new-user-form">    
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" placeholder="Enter a last name">
    </div>
    <div class="new-user-form">
        <label for="image_url">image URL</label>
        <input type="text" name="image_url" placeholder="Provide an image of this user">
    </div>
    <div class="new-user-form">
        <button type="submit">Add</button>
    </div>
</form>
{% endblock %}