{% extends 'base.html' %}
{% block title %}User Details{% endblock %}

{% block content %}
<h1>User Details</h1>
<div class="user-details">
    {% if user.image_url %}
        <div class="user-img">
            <img src="{{ user.image_url }}"
                alt="{{ user.first_name }} {{ user.last_name}}">
        </div>
    {% endif %}
  
    <div class="user-name">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    </div>

    <div class="button-form">  
        <form action="/users/{{ user.id }}/edit" method="GET">
            <button type="submit" class="edit-btn">Edit</button>
        </form>
        <form action="/users/{{ user.id }}/delete" method="POST">
            <button type="submit" class="delete-btn">Delete</button>
        </form>
    </div>
</div>
{% endblock %}