{% extends 'base.html' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content %}
<div class="list-container">
  
  <h1>{{ tag.name }}</h1>
  
  <ul class="lists">
    {% for post in tag.posts %}
      <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <div class="button-form">
    <form action="/tags/{{ tag.id }}/edit" method="GET">
      <button type="submit" class="edit-btn">Edit</button>
    </form>
    
    <form action="/tags/{{ tag.id }}/delete" method="POST">
      <button type="submit" class="delete-btn">Delete</button>
    </form>
  </div>

</div>
{% endblock %}